sample,assembly_type,assembly_file
bManMel1.1,PRIMARY,${PWD}/results/genomeassembly/bManMel1.1/bManMel1.1.pacbio_hifi.purged/purging/asm.purged.fa.gz
bManMel1.1,HAPLO,${PWD}/results/genomeassembly/bManMel1.1/bManMel1.1.pacbio_hifi.purged/purging/asm.htigs.all.fa.gz
bManMel1.1,MITO,${PWD}/results/genomeassembly/bManMel1.1/bManMel1.1.pacbio_hifi.purged/mito/final_mitogenome.fasta